---
import ExampleMincomps from '../images/mincomps-example.png';
import ExampleWodensec from '../images/wodensec.png';
---


<div id="controls-carousel" class=" w-full h-full" data-carousel="static">
    <!-- Carousel wrapper -->
    <div class=" overflow-hidden rounded-lg h-full">
         <!-- Item 1 -->
         <div class="hidden duration-700 ease-in-out group overflow-hidden" data-carousel-item="active"> 
            <img src={ExampleMincomps.src} class="min-w-xl w-full absolute block -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 group-hover:opacity-20 transition-opacity duration-300 ease-in h-full" alt="...">
            <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in">
                <a href="https://github.com/zoroskr/mincomps" target="_blank">
                    <h5 class="text-pink-500 text-shadow-md text-xl font-bold leading-normal pb-2">Mincomps</h5>
                    <p class="text-white text-sm font-semibold leading-normal">Mincomps is a design system, this website is in charge of collecting different components and modifying them to give them a minimalist approach.</p>
                </a>
            </div>
        </div>
        <div class="hidden duration-700 ease-in-out group overflow-hidden" data-carousel-item="active">
            <img src={ExampleWodensec.src} class="min-w-xl w-full absolute block -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 group-hover:opacity-20 transition-opacity duration-300 ease-in h-full" alt="...">
            <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in">
                <a href="https://www.wodensec.com/" target="_blank">
                    <h5 class="text-pink-500 text-shadow-md text-xl font-bold leading-normal pb-2">Wodensec</h5>
                    <p class="text-white text-sm font-semibold leading-normal">Work on this project to fix and make some modifications. Add new sections, modify animations, fix bugs and change styles. All modifications were done in a github repository, which allowed my client to keep track of all changes.</p>
                </a>
            </div>
        </div>
    </div>
    <!-- Slider controls -->
    <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-violet-600 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
            </svg>
            <span class="sr-only">Previous</span>
        </span>
    </button>
    <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-violet-600 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
            <span class="sr-only">Next</span>
        </span>
    </button>
</div>

